flows.json
[{"id":"4446707c.5c77d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"4446707c.5c77d","name":"Node-Red y Git","info":"","x":360,"y":100,"wires":[]},{"id":"55773780.a6cf28","type":"inject","z":"4446707c.5c77d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["2e68282b.c4dec8"]]},{"id":"2e68282b.c4dec8","type":"debug","z":"4446707c.5c77d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":180,"wires":[]}]